[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
python-telegram-bot = "*"
pydub = "*"
openai = "*"
python-dotenv = "*"
flask = "*"
telebot = "*"
ffmpeg-python = "*"
gunicorn = "*"
redis = "*"
celery = "*"
markdownmail = "*"
pytz = "*"
pyshorteners = "*"

[dev-packages]

[requires]
python_version = "3.10"
